.bigtext {font-family: "Arial Narrow", Arial, sans-serif; font-size: 140px; font-style: normal; 
font-variant: normal; font-weight: 400; display: flex; justify-content: space-between;}
a {color: black;}

.maintext1 {font-family: "Arial Narrow", Arial, sans-serif; font-size: 140px; 
font-style: normal; line-height: 168px;
font-variant: normal; font-weight: 400; text-align: center; margin-top: 122px; margin-bottom: 85px;}

.maintext1 p {margin-bottom: 100px;}
 .arrow {text-align: center; margin-bottom: 250px;}

.maintext {text-align: center ;font-family: Arial, sans-serif; font-weight: 300; 
	font-size: 74px; line-height: 140%; margin-bottom: 50px;}

.week4 {font-family: "Arial Narrow", Arial, sans-serif; font-size: 140px; 
font-style: normal; line-height: 168px;
font-variant: normal; font-weight: 400; text-align: center; 
margin-top: 134px; margin-bottom: 120px;}

.featherimg {font-family: "Arial Narrow", Arial, sans-serif; font-size: 86px; 
margin-bottom: 120px; text-align: center;}

.episode { font-family: "Arial Narrow", Arial, sans-serif; font-size: 86px; 
line-height: 103px; text-align: left; margin-left: 10px;
margin-bottom: 100px; }

.numberflex {display: flex; font-family: "Arial Narrow", Arial, sans-serif; font-size: 86px; 
line-height: 103px; margin-left: 120px; margin-bottom: 100px;}

.number {margin-right: 40px;}

.episode2 { font-family: "Arial Narrow", Arial, sans-serif; font-size: 86px; 
line-height: 103px; text-align: left; margin-left: 10px;
margin-bottom: 120px; }

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hangule {display: flex;  font-family: 'MapoFlowerIsland'; font-size: 47.35px;
line-height: 61px; justify-content: space-around; margin-bottom: 120px;}

.half {width: 49%;}

.title {display: flex; justify-content: space-between; }

.titlenum {width: 49%;font-family: "Arial Narrow", Arial, sans-serif;
 font-size: 86px; 
line-height: 103px; margin-left: 10px;}

.titletext {width: 49%;
font-family: 'MapoFlowerIsland'; font-size: 47.35px;
line-height: 61px; margin-bottom: 200px;
}
.wtf {width: 600px;}

@media (max-width: 1600px) {

.bigtext {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 90px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.week4 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 90px;
    font-style: normal;
    line-height: 120px;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 134px;
    margin-bottom: 120px;
}

.episode {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 66px;
    line-height: 82px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 100px;
}
.featherimg {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 66px;
    margin-bottom: 120px;
    text-align: center;
}

.numberflex {
    display: flex;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 66px;
    line-height: 86px;
    margin-left: 115px;
    margin-bottom: 80px;
}

.episode2 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 66px;
    line-height: 103px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 100px;
}
.hangule {
    display: flex;
    font-family: 'MapoFlowerIsland';
    font-size: 35px;
    line-height: 56px;
    justify-content: space-around;
    margin-bottom: 120px;
}
.titlenum {
    width: 49%;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 66px;
    line-height: 103px;
    margin-left: 10px;
}
.titletext {
    width: 49%;
    font-family: 'MapoFlowerIsland';
    font-size: 35px;
    line-height: 56px;
    margin-bottom: 200px;
}
.maintext1 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 114px;
    font-style: normal;
    line-height: 156px;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 122px;
    margin-bottom: 85px;
}

.maintext {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 57px;
    line-height: 140%;
    margin-bottom: 50px;
}



}


@media (max-width: 768px) {    
.bigtext {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 61px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.week4 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 61px;
    font-style: normal;
    line-height: 78px;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}
.wtf {width: 450px;}
.featherimg {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 73px;
    text-align: center;
}

.episode {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    line-height: 45px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 32px;
}
.numberflex {
    display: flex;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    line-height: 51px;
    margin-left: 61px;
    margin-bottom: 11px;
}

.episode2 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    line-height: 103px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 100px;
}
.hangule {
    display: flex;
    font-family: 'MapoFlowerIsland';
    font-size: 20px;
    line-height: 30px;
    justify-content: space-around;
    margin-bottom: 120px;
}
.titlenum {
    width: 49%;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    line-height: 103px;
    margin-left: 10px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.titletext {
    width: 49%;
    font-family: 'MapoFlowerIsland';
    font-size: 18px;
    line-height: 56px;
    margin-bottom: 200px;
}
.maintext1 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 89px;
    font-style: normal;
    line-height: 133px;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 122px;
    margin-bottom: 85px;
}
.maintext {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 34px;
    line-height: 140%;
    margin-bottom: 50px;
}

}
@media (max-width: 480px) {
.bigtext {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.maintext1 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 39px;
    font-style: normal;
    line-height: 80px;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 122px;
    margin-bottom: 68px;
}

.episode2 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    line-height: 45px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 100px;
}

.maintext1 p {
 margin-bottom: 0px; 
}
.maintext {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 50px;
}

}
