

.bigtext {font-family: "Arial Narrow", Arial, sans-serif; font-size: 140px; font-style: normal; 
font-variant: normal; font-weight: 400; display: flex; justify-content: space-between;
margin-bottom: 90px;}
a {color: black;}
.flexbox1 {display: flex;justify-content: space-between;
margin-top: 90px; align-items: flex-end; margin: 30px; 
font-family: 'IBM Plex Mono', monospace; font-size: 16px;}
.w6 {width: 600px; margin-right: 30px;}
.flexbox2 {display: flex;justify-content: center;
margin-top: 60px; align-items: flex-end;  
font-family: 'IBM Plex Mono', monospace; font-size: 16px;}

.flexbox3 {display: flex;justify-content: space-around;
margin-top: 60px; align-items: flex-end;
font-family: 'IBM Plex Mono', monospace; font-size: 16px;}


.maintext1 p {margin-bottom: 100px;}
 .arrow {text-align: center; margin-bottom: 250px;}

.maintext {text-align: center ;font-family: Arial, sans-serif; font-weight: 300; 
	font-size: 74px; line-height: 140%; margin-bottom: 50px;}

	.maintext1 {font-family: "Arial Narrow", Arial, sans-serif; font-size: 140px; 
font-style: normal; line-height: 168px;
font-variant: normal; font-weight: 400; text-align: center; margin-top: 250px; margin-bottom: 85px;}

.logo {margin-top: 250px;}

.easein {transition: opacity 300ms ease-out;}

#test {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
